balloons.mp4
balloons2.mp4
builds/
unity_generated_projects/
master_xcode_project/Libraries/
master_xcode_project/Data/

Temp/
Obj/
Library/
/Library/
UnityGenerated/
Screenshots/
ExportedObj/

*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

*.orig
*.blend1

.DS_Store
.DS_Store?
.Trashes
*.swp
*.lock
*~.nib
._*
.Spotlight-V100
Icon?
ehthumbs.db
Thumbs.db

DerivedData/
build/
builds/

*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3

!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3

xcuserdata

*.moved-aside
*.xccheckout
